{% extends 'default.html' %}
{% block title %} Ajouter un utilisateur{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1>Ajouter un nouveau utilisateur</h1>
    {% if message == 'error' %}
    <div>
        <p style="color: red;">Tous les champs sont obligatoires.</p>
    </div>
    {% elif message == 'success' %}
    <div>
        <p style="color: green;">L'utilisateu à été Ajouter avec success</p>
    </div>
    {% endif %}
    <form action="{{ url_for('add_user') }}" method="POST">
        <div class="mb-3">
            <label for="nom" class="form-label">Nom :</label>
            <input type="text" class="form-control" id="nom" name="nom" placeholder="Entrez le nom" required>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">username :</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Entrez le username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">password :</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Entrez le password" required>
        </div>
        <button type="submit" class="btn btn-primary">Ajouter</button>
    </form>
    {% if message %}
    <p class="mt-3">{{ message }}</p>
    {% endif %}
</div>
{% endblock %}